/* Tablet Landscape View  */

@media only screen and (max-width:992px){
    .partner-logo{
        margin-bottom: 30px;
    }
    .lg-pb{
        padding-bottom: 30px;
    }
    .half-width{
        width:100% !important;
        display: block;
        margin-bottom: 20px;
    }

}
/* Tablet Potrait View  */
@media only screen and (max-width: 768px){
    .medium-margin-bottom{
        margin-bottom: 30px;
    }
    .medium-margin-top{
        margin-top: 30px;
    }
    .employee-quote>p{
        padding: 0px 10px;
    }
    button.btn-customized, button.btn-customized-2{
        font-size: 10vw;
    }
    #employee-carousel a.carousel-control-prev span.fas.fa-angle-left{
        margin-left: -60px;
    }
    #employee-carousel a.carousel-control-next span.fas.fa-angle-right{
        margin-right: -60px;
    }
    .quater-width{
        width: 100%;
        margin-bottom: 30px;
    }
    .support-type ul li{
        margin-bottom: 20px;
    }
    .mid-wrap{
        flex-wrap: wrap;
    }
    .pill-tab-left{
        margin-left: 180px;
    }
    .bike-tab-bg,.car-tab-bg{
        box-shadow: inset 0 0 0 1000px rgba(255,255,255, 0.8);
    }
}
/* Largr Mobile View  */
@media only screen and (max-width: 576px){
    .agent-feature-block{
        margin-right: 35px;
        margin-left: 35px;
    }
    section.section-padding.employee-information {
        padding: 50px 10px;
    }
    
    section.section-padding.employee-quote-slider {
        padding: 50px 20px;
    }
    .testimonial-block{
        flex-wrap: wrap;
    }
    .why-choose-block h3{
        font-size: 20px;
    }
    .why-choose-block p{
        font-size: 16px;
        text-align: justify;
    }
    .owl-carousel .owl-prev{
        left: 0%;
    }
    .owl-carousel .owl-next{
        right: 0%;
    }
}
/* small Mobile View  */
@media only screen and (max-width: 380px){
    .contact-form .purpose ul li{
        margin-right: 0px;
    }
    .pill-tab-left{
        margin-left: 330px;
    }
}
/* Tablet or higher width device  */
@media only screen and (min-width: 768px){
    .upper-overlapping{
        margin-top: -80px!important;
    }
    .up-right-overlapping{
        position: relative;
        top: -50px;
        right: -100px;
    }
    .left-top-overlapping{
        position: relative;
        left: -15%;
        top: -50px;
    }
}